/* images */

body {
  padding: .3rem;
  font-family: arial, sans-serif;
  background: #f2f2f2;
}
img {
  width: 100%; /* need to overwrite inline dimensions */
  height: auto;
}
h1 {
  margin: 0;
}
h2 {
  margin-bottom: 0 0.3rem;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(19rem, 1fr));
  grid-gap: 1rem;
}


/* form */
body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 0;
  font-size: 0.8rem;
  color: #0e2f5a;
}

.form-inline input {
  vertical-align: middle;
  margin: 0;
  padding: .6rem;
  background-color: #fff;
  border: .3rem solid #ddd;
}

.form-inline button {
  padding: .6rem 1.2rem;
  background-color: #0e2f5a;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}
.form-inline button:disabled {
  background-color: gray;
  cursor: none;
}
.form-inline button:hover {
  background-color: royalblue;
}

@media only screen and (min-width: 800px) {
  .form-inline label {
    margin: .3rem;
  }
  .form-inline button {
    margin: 0 0 0 .3rem;
  }
  .form-inline button:disabled {
    background-color: gray;
    cursor:none;
  }

  .form-inline input {
    margin: .3rem 0;
  }
}
@media (max-width: 800px) {

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
  .form-inline button {
    margin-top: .3rem;
  }
  h1 {
    font-size: 1.3rem;
  }
  h2 {
    font-size: 1rem;
  }
}

/* toast */
.toast-warning {
  background-color: red !important;
}
.toast-info {
  background-color: green !important;
}

#toast {
  visibility: hidden;
  max-width: 9rem;
  height: 3rem;
  /*margin-left: -125px;*/
  margin: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: .1rem;

  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 1.9rem;
  font-size: .8rem;
  white-space: nowrap;
}
#toast #img {
  width: 3rem;
  height: 3rem;
  text-align: center;
  float: left;
  padding-top: 1rem;
  padding-bottom: 1rem;
  box-sizing: border-box;
  background-color: #111;
  color: #fff;
}
#toast #desc {
  color: #fff;
  text-align: left;
  padding: 1rem;
  overflow: hidden;
  white-space: nowrap;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s,
    fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s,
    fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes expand {
  from {
    min-width: 3rem;
  }
  to {
    min-width: 22rem;
  }
}

@keyframes expand {
  from {
    min-width: 3rem;
  }
  to {
    min-width: 22rem;
  }
}
@-webkit-keyframes stay {
  from {
    min-width: 22rem;
  }
  to {
    min-width: 22rem;
  }
}

@keyframes stay {
  from {
    min-width: 22rem;
  }
  to {
    min-width: 22rem;
  }
}
@-webkit-keyframes shrink {
  from {
    min-width: 22rem;
  }
  to {
    min-width: 3rem;
  }
}

@keyframes shrink {
  from {
    min-width: 22rem;
  }
  to {
    min-width: 3rem;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 2rem;
    opacity: 1;
  }
  to {
    bottom: 60px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 4rem;
    opacity: 1;
  }
  to {
    bottom: 4rem;
    opacity: 0;
  }
}

/* color select */
.color-container {
  display: inline-block;
  /* margin: 0 0 5px 0; */
}
input[type="radio"] {
  display: none;
}
input[type="radio"]:checked + label span {
  transform: scale(1.25);
}
input[type="radio"]:checked + label .y1 {
  border: 2px solid #000;
}
input[type="radio"]:checked + label .y2 {
  border: 2px solid #000;
}
input[type="radio"]:checked + label .y3 {
  border: 2px solid #000;
}


label.color {
  display: inline-block;
  width: 2em;
  height: 25px;
  margin-right: 2px;
  cursor: pointer;
}

label.color span {
  display: block;
  width: 100%;
  height: 100%;
  transition: transform .2s ease-in-out;
}
label.color span.y1 {
  background: #F2D865;
}
label.color span.y2 {
  background: #F4B21B;
}
label.color span.y3 {
  background: #DB8226;
}
label.color span.b1 {
  background: #0071BA;
}
label.color span.b2 {
  background: #0E2F5A;
}
label.color span.b3 {
  background: #231F20;
}
