/* images */

body {
  padding: 5px;
  font-family: arial, sans-serif;
  background: #f2f2f2;
}
img {
  width: 100%; /* need to overwrite inline dimensions */
  height: auto;
}
h1 {
  margin: 0;
}
h2 {
  margin-bottom: 0 0.3em;
}
.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 1em;
}


/* form */
body {
  font-family: Arial, Helvetica, sans-serif;
}
* {
  box-sizing: border-box;
}

.form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.form-inline label {
  margin: 0;
  /* margin: 5px 10px 5px 0; */
  /* margin: 5px 0; */
  font-size: 0.8em;
  color: #0e2f5a;
}

.form-inline input {
  vertical-align: middle;
  /* margin: 5px 10px 5px 0; */
  /* margin: 5px 10px 5px 0; */
  margin: 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
}

.form-inline button {
  padding: 10px 20px;
  background-color: #0e2f5a;
  border: 1px solid #ddd;
  color: white;
  cursor: pointer;
}
.form-inline button:disabled {
  background-color: gray;
  cursor: none;
}
.form-inline button:hover {
  background-color: royalblue;
}

@media only screen and (min-width: 800px) {
  .form-inline label {
    margin: 5px 10px 5px 10px;
  }
  .form-inline button {
    margin: 0 0 0 5px;
  }
  .form-inline button:disabled {
    background-color: gray;
    cursor:none;
  }

  .form-inline input {
    margin: 5px 0;
  }
}
@media (max-width: 800px) {

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
  h1 {
    font-size: 1.3em;
  }
  h2 {
    font-size: 1em;
  }
}

/* toast */
.toast-warning {
  background-color: red !important;
}
.toast-info {
  background-color: green !important;
}

#toast {
  visibility: hidden;
  max-width: 150px;
  height: 50px;
  /*margin-left: -125px;*/
  margin: auto;
  background-color: #333;
  color: #fff;
  text-align: center;
  border-radius: 2px;

  position: fixed;
  z-index: 1;
  left: 0;
  right: 0;
  bottom: 30px;
  font-size: 13px;
  white-space: nowrap;
}
#toast #img {
  width: 50px;
  height: 50px;
  text-align: center;
  float: left;
  padding-top: 16px;
  padding-bottom: 16px;
  box-sizing: border-box;
  background-color: #111;
  color: #fff;
}
#toast #desc {
  color: #fff;
  text-align: left;
  padding: 16px;
  overflow: hidden;
  white-space: nowrap;
}

#toast.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 2s,
    fadeout 0.5s 2.5s;
  animation: fadein 0.5s, expand 0.5s 0.5s, stay 3s 1s, shrink 0.5s 4s,
    fadeout 0.5s 4.5s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes expand {
  from {
    min-width: 50px;
  }
  to {
    min-width: 350px;
  }
}

@keyframes expand {
  from {
    min-width: 50px;
  }
  to {
    min-width: 350px;
  }
}
@-webkit-keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 350px;
  }
}

@keyframes stay {
  from {
    min-width: 350px;
  }
  to {
    min-width: 350px;
  }
}
@-webkit-keyframes shrink {
  from {
    min-width: 350px;
  }
  to {
    min-width: 50px;
  }
}

@keyframes shrink {
  from {
    min-width: 350px;
  }
  to {
    min-width: 50px;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 60px;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 60px;
    opacity: 0;
  }
}
